---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
---

<Layout>
	<main>
        <Hero />
        <section>
            <h1 id="projects">My Projects</h1>
        </section>
    </main>
</Layout>
