---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import About from '../components/Sections/About.astro';
import Projects from '../components/Sections/Projects.astro';
import Contact from '../components/Sections/Contact.astro';
---

<Layout>
	<main>
        <Hero />
        <About />
        <Projects />
        <Contact />
    </main>
</Layout>
